@charset "UTF-8";
@import url("data:application/octet-stream;base64,QGZvbnQtZmFjZSB7CiAgZm9udC1mYW1pbHk6ICdQVCBNb25vJzsKICBmb250LXN0eWxlOiBub3JtYWw7CiAgZm9udC13ZWlnaHQ6IDQwMDsKICBzcmM6IGxvY2FsKCdQVCBNb25vJyksIGxvY2FsKCdQVE1vbm8tUmVndWxhcicpLCB1cmwoaHR0cHM6Ly9mb250cy5nc3RhdGljLmNvbS9zL3B0bW9uby92NS9lUGdGdnFPQ2lMSGhBUVpEWV9wbG9BLnR0ZikgZm9ybWF0KCd0cnVldHlwZScpOwp9Cg==");


.Article-container {
margin: 0 auto;
margin-top: 50px;
font-family: "PT Mono", monospace;
width:1450px;
align-items:center;
}

.masonry {
  margin: 0 auto;
  display: flex;
}

.column {

  display: flex;
  width: 100%;
}


.item {
  background-color: #0D0630;
  box-sizing: border-box;
  padding: 10px;

}


.Article-title{

margin-top: 0;
padding: 0 0 10px;
}

.item__content--large {
  background-color:#0D0630;
  color:white;
  height: 400px;
  width: 700px;
  margin-bottom: 20px;
}

.item__content--large-first {
  background-color:#0D0630;
  color:white;
  height: 820px;
  width: 700px;;

}
