@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Fira+Mono|Nixie+One');

.section page{
background: url('/image/fond.svg');

}

.section-title{
height:50px;
width: 100%;

}

.section-title h1{
text-align: center;
font-family: 'Bungee Shade', cursive;
