@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.page-2 {

font-family: 'Open Sans', sans-serif;

}

.section-title{
height:50px;
width: 100%;
color:black;
font-size:10px;
}
.section-title-2{
height:50px;
width: 100%;
color:white;
}

.section-title h1{
text-align: center;
font-family: 'Open Sans', sans-serif;
}

.section-title-2 h1{
text-align: center;
font-family: 'Open Sans', sans-serif;
}

@media screen and (min-width: 700px)  {

  .page-2 {

  background: url("https://www.pinterest.com/pin/161707442854311679");

  }

}
